<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Growhub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Growhub</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Index</a></li>
                    <li><a href="{{ url_for('chicken') }}">Chicken</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>