{% extends "base.html" %}

{% block title %}Index - Growhub{% endblock %}

{% block content %}
<div class="column">
    <div class="card">
        <!-- Form for scheduling an MQTT message after a delay -->
        <h3>Schedule an MQTT Message with a Delay</h3>
        <form id="scheduleForm" onsubmit="scheduleMqttTask(event)">
            <label for="topic">MQTT Topic:</label>
            <input type="text" name="topic" required placeholder="e.g., home/sensor">
            
            <label for="message">Message:</label>
            <input type="text" name="message" required placeholder="Enter your message">
            
            <label for="delay">Delay (minutes):</label>
            <input type="number" name="delay" required min="1" placeholder="Enter delay in minutes">
            
            <button type="submit">Schedule MQTT</button>
        </form>
    </div>

    <div class="card">
        <!-- Form for scheduling an MQTT message at a specific time -->
        <h3>Schedule an MQTT Message at a Specific Time</h3>
        <form id="scheduleTimeForm" onsubmit="scheduleMqttTask(event)">
            <label for="topic">MQTT Topic:</label>
            <input type="text" name="topic" required placeholder="e.g., home/sensor">
            
            <label for="message">Message:</label>
            <input type="text" name="message" required placeholder="Enter your message">
            
            <label for="datetime">Scheduled Time:</label>
            <input type="datetime-local" name="datetime" required>
            
            <button type="submit">Schedule MQTT at Specific Time</button>
        </form>
    </div>
</div>

{% endblock %}
